ul {
  padding: 0;
  list-style: none;
}

.footer__a {
  color: #4b5564;
  text-decoration: none;
}

.footer__a:hover {
  color: #000;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e7eb;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.footer {
  font-family: sans-serif;
  padding: 2rem;
  font-size: 15px;
  color: #000;
  background: #e2e2e2;
}

.footer__navi-heading {
  font-weight: 600;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 2rem;
}

.footer__navi li {
  margin-bottom: 0.75rem;
}

.footer__social a {
  display: inline-block;
  width: 24px;
  opacity: 0.7;
}

.footer__social a:not(:last-child) {
  margin-right: 16px;
}

@media (min-width: 768px) {
  .md-flex {
    display: flex;
  }

  .md-justify-between {
    justify-content: space-between;
  }

  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}