* {
	margin: 0%;
	padding: 0%;
}

body {
	margin: 15px;
	/*width: 80%;
	margin: 0 auto;
	max-width: 500px;*/
	background: linear-gradient(to top, #ffffff, #f3f3f3); 
	color: #444444;
	text-align: center;
	line-height: 1.7;
	font-family: "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic",
					"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3",
					"Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo";
	overflow: auto;
    background-repeat: no-repeat;
	box-sizing: border-box;
}

#loading {
	width: 100vw;
	height: 100vh;
	transition: all 1s;
	background-color: rgb(221, 221, 221);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.loaded {
	opacity: 0;
	visibility: hidden;
}

.spinner {
    font-size: 26px;
    position: relative;
    top: 49%;
}

.spinner > div {
	display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #27acd9;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

h1 {
	margin: 0px;
	padding: 5px;
	color: #5a5a5a;
	display: inline-block;
	position: relative;
	overflow: hidden;
	transition: 0.2s;
}

.pageTitle {
	margin-top:  40px;
}

hr {
    border: none;
    background-color: rgba(red, green, blue, 0);
    height: 28px;
}

button {
    -webkit-user-select: none;
    user-select: none;
    margin: 0 6px 10px;
    padding: 7px 12px;
    border: none;
    display: inline-block;
    font-size: 114%;
    line-height: 1;
    color: #fff;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}

.blueBtn {
	padding: 10px 15px;
	font-size: 16px;
    background-color: #27acd9;
    box-shadow: 0 6px #1987ac;
    border-radius: 15px;
    top: 0;
    transition: .2s all;
    color: #fff;
	margin-top: 15px;
	margin-bottom: 15px;
}

.blueBtn:hover {
    border-radius: 15px;
    box-shadow: 0 6px #1987ac;
    top: 0;
    transition: .2s all;
    opacity: .8;
}

.blueBtn:active {
    box-shadow: 0 1px #1987ac;
    top: 5px;
}

.tabSelector {
	margin-top: 20px !important;
}

#kosenjohBlock {
	margin-top: 10px;
	margin-bottom: 10px;
}

form {
	margin-bottom: 26px;
	align-items: flex-end;
}

select {
	width: 110px;
	font-size: 15px;
	font-weight: bold;
	color: #6a6a6a;
	cursor: pointer;
	margin-right: 3px;
	margin-left: 3px;
	padding: 3.5px 0 2.5px 0;
	background-color: transparent;
	border-radius: 4px;
	outline: 0px;
	border: solid 1px #a8a8a8;
	transition: 0.5s;
}

select:focus {
	outline: 0px;
	border: solid 1px #27acd9;
	transition: 0.5s;
}

.pokeSelect {
	width: auto;
}

option {
	background-color: linear-gradient(transparent,transparent);
}

input[type="number"] {
	box-sizing: border-box;
	border-radius: 5px;
	width: 8rem;
	height: 1.5rem;
	letter-spacing: 1px;
	padding: 2px 7px 2px 7px;
	outline: 0px;
	border: solid 1px #a8a8a8;
	transition: 0.5s;
}

input[type="number"]:focus {
	outline: 0px;
	border: solid 1px #27acd9;
	transition: 0.5s;
}

input[type="number"]:invalid {
	background-color: #ffe3e3;
}

.miniSiZeNumber {
	width: 4rem !important;
}

.inputArea {
	padding: 5px 0;
	margin: 0 4px 0 4px;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}

.resultArea {
	padding-left: 12px;
	width: 11rem;
}


.displayFlexArea {
	display: flex;
	justify-content: center;
	align-items: center;
}

.displayFlexArea > div {
	margin:  17px 20px;
}

.dfArea2 > div {
	margin-top: 10px;
}

input[type=range] {
	-webkit-appearance: none;
	-webkit-flex-basis: 100%;
	-webkit-tap-highlight-color: transparent;
	background: transparent;
	transition: 0.6s;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 10rem;
    height: 1rem;
    background: transparent;
    border: 2px solid #a8a8a8;
    border-radius: 10px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	border: 2px solid #8ccfe4;
	transition: 0.5s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: #27acd9;
    margin-top: -0.4rem;
    border: 2px solid #fff;
    cursor: pointer;
    box-shadow: 0px 5px 5px -3px #d9d9d9;
}

input[type=range]:focus {
    outline: none;
}

.range-container {
	width: 170px;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	margin-top: 2rem;
}

.label-container {
	-webkit-flex-basis: 100%;
	display: -webkit-flex;
	-webkit-flex-wrap: nowrap;
	-webkit-justify-content: space-between;
	margin-top: 20px;
}

.label {
	color: grey;
	font-size: 1rem;
	text-align: center;
	max-width: 3rem;
	-webkit-tap-highlight-color: transparent;  /*gets rid of black flash on click of track*/
	transition: 0.4s;
}

.fixedPositionLabel1 {
	margin-left: 9px;
}

.fixedPositionLabel25 {
	margin-left: 8px;
}

.fixedPositionLabel50 {
	margin-left: 5px;
}

.fixedPositionLabel75 {
	margin-left: 4.5px;
}

.fixedPositionLabels {
	margin-right: 6px;
}

.slider-container {
	position: relative;
	height: 100%;
	width: 100%;
}
.slider {
	position: absolute;
	left:0;
	width: 100%;
}

.range-fill {
	position:absolute;
	top:4px;
	left:4px;
	background-color: #b2f0fb;
	height: 12px;
	pointer-events: none;
	border-radius: 10px;
}

/* Toggle Button */
.cm-toggle {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 10px;
}

/* To create surface of toggle button */
.cm-toggle:after {
	content: '';
	width: 52px;
	height: 18px;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 18px;
	clear: both;
}

/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
	content: '';
	width: 22px;
	height: 22px;
	display: block;
	position: absolute;
	left: 0;
	top: -3px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Shift the handle to left on check event */
.cm-toggle:checked:before {
	left: 32px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.cm-toggle:checked:after {
	background: #27acd9;
}

/* Transition for smoothness */
.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,
.cm-toggle:checked:before,
.cm-toggle:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}


.section {
	height: 90vh;
  }
  .section1 {
	background-color: #ccccff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:1rem;
  }
  .section2 {
	background-color: #99ccff;
  }
  .section3 {
	background-color: #ffccff;
  }
  
  /**************************\
	Basic Modal Styles
  \**************************/
  
  .modal {
	font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  }
  
  .modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .modalDialog {
	background-color: #fff;
	padding: 30px;
	max-width: 500px;
	max-height: 100vh;
	border-radius: 4px;
	overflow-y: auto;
	box-sizing: border-box;
  }
  
  @media screen and (max-width: 480px) { 
  .modalDialog {
	max-height: 90vh;
	max-width: 300px;
  }
  }
  
  .modalHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .modalTitle {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.25;
	color: #27acd9;
	box-sizing: border-box;
  }
  
  .closeResultModal {
	background: transparent;
	border: 0;
  }
  
  .modalHeader .closeResultModal:before { content: "\2715"; }
  
  .modalContent {
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 1.5;
	color: rgba(0,0,0,.8);
  }
  
  .modalOKBtn {
	font-size: .875rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	background-color: #e6e6e6;
	color: rgba(0,0,0,.8);
	border-radius: .25rem;
	border-style: none;
	border-width: 0;
	cursor: pointer;
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	line-height: 1.15;
	margin: 0;
	will-change: transform;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: -webkit-transform .25s ease-out;
	transition: transform .25s ease-out;
	transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }
  
  .modalOKBtn:focus, .modalOKBtn:hover {
	background-color: #c4c4c4;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
  }
  
  .modalOKBtn-primary {
	background-color: #00449e;
	color: #fff;
  }
  
  
  
  /**************************\
	Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
	  from { opacity: 0; }
		to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
	  from { opacity: 1; }
		to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
	from { transform: translateY(15%); }
	  to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
	  from { transform: translateY(0); }
	  to { transform: translateY(-10%); }
  }
  
  .modalWindow {
	display: none;
  }
  
  .modalWindow.is-open {
	display: block;
  }
  
  .modalWindow[aria-hidden="false"] .modalOverlay {
	animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .modalWindow[aria-hidden="false"] .modalDialog {
	animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .modalWindow[aria-hidden="true"] .modalOverlay {
	animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .modalWindow[aria-hidden="true"] .modalDialog {
	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .modalWindow .modalDialog,
  .modalWindow .modalOverlay {
	will-change: transform;
  }

  .smallResultContext {
	font-size: 11px;
  }

  .smallResultContextTop {
	margin-top: 9px;
  }